<app-header></app-header>
<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <div fxFlex="50">
    {{company.name}}
  </div>
  <div fxFlex="50">

  </div>
</div>
<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <div fxFlex="50">
    Company Stock Delta
  </div>
  <div fxFlex="7">Prev Close</div>
  <div fxFlex="7">High</div>
  <div fxFlex="7">Low</div>
  <div fxFlex="7">Bid</div>
  <div fxFlex="7">Ask</div>
  <div fxFlex="7">Volume</div>
  <div fxFlex="7">Mkt Cap</div>
</div>
<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <div fxFlex="50">
    <div class="stock_chart">Stock Chart</div>
  </div>
  <div fxFlex="50">
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onTopTabsClick($event)">
      <mat-tab label="Investor Kit">
        <div class="tab-body-container">
          <div class="tab-body-content">
          </div>
        </div>
      </mat-tab>
      <mat-tab label="About">
        <div class="tab-body-container">
          <div class="tab-body-content">
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Earnings Calls">
        <div class="tab-body-container">
          <div class="tab-body-content">
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Transcripts">
        <div class="tab-body-container">
          <div class="tab-body-content">
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <div fxFlex="100">
    <mat-toolbar-row class="trending">
    Trending Companies
    </mat-toolbar-row>
    <mat-toolbar-row class="trending-companies">

    </mat-toolbar-row>
  </div>
</div>
<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <div fxFlex="50">
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onBottomTabsClick($event)">
      <mat-tab label="News">
        <div class="tab-body-container">
          <div class="tab-body-content">
            <company-news symbol="ISDR" columns="2"></company-news>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Commentary">
        <div class="tab-body-container">
          <div class="tab-body-content">
            <company-commentary symbol="ISDR" columns="2"></company-commentary>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Media">
        <div class="tab-body-container">
          <div class="tab-body-content">
            <company-media symbol="ISDR" columns="2"></company-media>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Research">
        <div class="tab-body-container">
          <div class="tab-body-content">
            <company-news symbol="ISDR" columns="2"></company-news>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div fxFlex="50">
  </div>
</div>

