<div class="container h-100">
  <div class="flex-row" style="text-align: center">
    <div class="col">sponsor logo</div>
  </div>
  <div class="d-flex flex-row" style="width: 100%">
    <div class="col-4">
      <div style="width: 100%">logo</div>
      <div style="width: 100%">trend</div>
    </div>
    <div class="col-8 justify-content-center align-self-center">speaker</div>
  </div>
  <!-- <div class="sponsor-logo">Sponsor logo</div> 
  <div class="header">Header</div>
  <div class="main">
    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat
      vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae
      est. Mauris placerat eleifend leo.
    </p>
  </div>
  <div class="aside aside-1">Aside 1</div>
  <div class="aside aside-2">Aside 2</div>
  <div class="footer">Footer</div> -->
</div>