<div class="container h-100">
  <div class="flex-row mt-5 text-center">
    <img src="{{ state.sponsorImageUrl }}" width="100px" height="100px" />
  </div>
  <div class="d-flex flex-row mb-4 w-100 flex-col-max-991">
    <div class="col-lg-4 d-flex flex-column">
      <div class="w-100 mb-auto mt-5 text-center">
        <img src="{{ state.company.imageUrl }}" width="100px" height="100px" />
      </div>
      <div class="card d-none d-lg-block">
        <div class="card-body p-2">
          <div class="d-flex flex-row">
            <div class="col-5 f-bold d-flex justify-content-end align-self-center f-lg">{{ state.company.stockPrice }}</div>
            <div class="col-1 d-flex align-self-center f-lg pb-1"> | </div>
            <div class="col-5">
              <div class="d-flex">
                <i *ngIf=isNegative(state.company.dailyChange) class="material-icons" style="color: #ee1d25">keyboard_arrow_down</i>
                <span *ngIf=isNegative(state.company.dailyChange)>-</span>
                <i *ngIf=!isNegative(state.company.dailyChange) class="material-icons" style="color: #13b546">keyboard_arrow_up</i>
                <span *ngIf=!isNegative(state.company.dailyChange) class="invisible">-</span>
                {{ abs(state.company.dailyChange) }}
              </div>
              <div class="d-flex">
                <i *ngIf=isNegative(state.company.yearlyChange) class="material-icons" style="color: #ee1d25">keyboard_arrow_down</i>
                <span *ngIf=isNegative(state.company.yearlyChange)>-</span>
                <i *ngIf=!isNegative(state.company.yearlyChange) class="material-icons" style="color: #13b546">keyboard_arrow_up</i>
                <span *ngIf=!isNegative(state.company.yearlyChange) class="invisible">-</span>
                {{ abs(state.company.yearlyChange) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 justify-content-center mt-5">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex flex-row">
            <div class="col-lg-3 text-center">
              <div class="f-sm f-bold mb-1">Webcast Speaker</div>
              <div>
                <img src="{{ state.speaker.imgUrl }}" width="120px" height="120px" />
              </div>
              <div class="mt-1 f-bold f-sm">{{ state.speaker.name }}</div>
            </div>
            <div class="col-lg-5 f-sm">
              <div class="ellipsis">
                <div>
                  <b class="card-title">{{ state.company.name.toUpperCase() }} - </b>
                  <span class="card-text">
                    {{ state.company.description }}
                  </span>
                </div>
              </div>
              <button type="button" class="btn btn-link pl-0 f-sm-i">show more</button>
            </div>
            <div class="col-4 d-none d-lg-block f-sm px-0">
              <div class="d-flex flex-row">
                <div class="col-6 f-bold f-xsm">Symbol</div>
                <div class="col-6 f-xsm">{{ state.company.symbol }}</div>
              </div>
              <div class="d-flex flex-row">
                <div class="col-6 f-bold f-xsm">Market Cap</div>
                <div class="col-6 f-xsm">{{ state.company.marketCap }}</div>
              </div>
              <div class="d-flex flex-row">
                <div class="col-6 f-bold f-xsm">Fiscal Year End</div>
                <div class="col-6 f-xsm">{{ state.company.fiscalYearEnd }}</div>
              </div>
              <div class="d-flex flex-row">
                <div class="col-6 f-bold f-xsm">Sector</div>
                <div class="col-6 f-xsm">{{ state.company.sector }}</div>
              </div>
              <div class="d-flex flex-row">
                <div class="col-6 f-bold f-xsm">Location</div>
                <div class="col-6 f-xsm">{{ state.company.location }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row mb-4 w-100 flex-colrev-max-991">
    <div class="col-lg-4 d-flex flex-column">
      <div class="w-100 mb-auto">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-isdr f-bold mb-1">{{ state.webcastTitle }}</li>
            <li class="list-group-item bg-isdr f-bold">Company Materials</li>
            <li class="list-group-item">
              <ul class="list-unstyled">
                <li *ngFor="let material of state.companyMaterials">
                  <a role="button" class="btn btn-link p-0" href="{{ material.url }}">{{ material.name }}</a>
                </li>
              </ul>
            </li>
            <li class="list-group-item bg-isdr f-bold">Press Releases</li>
            <li class="list-group-item">
              <ul class="list-unstyled">
                <li *ngFor="let pressRelease of state.pressReleases">
                  <a role="button" class="btn btn-link p-0 white-space-inherit mb-2 text-left" href="{{ pressRelease.url }}">
                    {{ pressRelease.date }}&nbsp;&nbsp;&nbsp;{{ pressRelease.name }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="w-100 mt-2 mb-4">
        <div class="d-flex flex-row w-100">
          <div class="d-flex align-items-end">
            <!-- facebook icon (svg) -->
            <svg class="c-pointer" style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z"
              />
            </svg>
            <!-- twitter icon -->
            <svg class="c-pointer" style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z"
              />
            </svg>
            <!-- linkedin icon -->
            <svg class="c-pointer" style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z"
              />
            </svg>
            <!-- email icon -->
            <svg class="c-pointer" style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z"
              />
            </svg>
          </div>
          <div class="ml-5">
            <div class="w-100 text-center">Rate our App</div>
            <div class="w-100 text-center c-pointer">
              <i class="material-icons align-bottom" style="color: #13b546">star</i>
              <i class="material-icons align-bottom" style="color: #13b546">star</i>
              <i class="material-icons align-bottom" style="color: #13b546">star</i>
              <i class="material-icons align-bottom" style="color: #b8b8b8">star</i>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 mb-3">
        <form>
          <div class="form-group">
            <label for="questionInput">Ask a Question</label>
            <textarea class="form-control" id="questionInput" rows="3"></textarea>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="contactToggle">
              <label class="form-check-label" for="contactToggle">I am interested and would like the company to contact me.</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary float-lg-right">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-lg-8 justify-content-center w-100">
      <div class="card">
        <div class="card-body">
          <div style="height: 500px">
            Video Presentation Area
          </div>
          <div>Video Playback Widget</div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">Slide Selection Widget</div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row flex-col-max-991 w-100">
    <div class="col-lg-4">
      <div class="form-group">
        <label>Support</label>
        <div class="d-flex flex-row c-pointer w-120px">
          <i class="material-icons">mail_outline</i>
          <div class="col-1">
            <span>Contact</span>
          </div>
        </div>
        <div class="d-flex flex-row c-pointer w-120px">
          <i class="material-icons">help_outline</i>
          <div class="col-1">
            <span>FAQ</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 text-center">issuer direct logo</div>
  </div>
</div>