<div *ngFor="let group of media;">
  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
      <div *ngFor="let item of group;let i = index" class="card" fxFlex="{{100/columns}}">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{item.headline}}</mat-card-title>
            <mat-card-subtitle>{{item.date}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div [innerHTML]="item.preview_snippet"></div>
          </mat-card-content>
          <mat-card-actions><div class="card-action"><button mat-button>Read More</button></div></mat-card-actions>
        </mat-card>
      </div>
  </div>
</div>
